@model MyBlog.Models.Tag
@{
    ViewData["Title"] = "Create New Tag";
}

<h2>Create New Tag</h2>

<form asp-action="CreateNewTag" asp-controller="home" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label">The name of tag</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
   



    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>

